@import url('reset.css');

body {
    background-color: #232339;
    font-size: 15px;
}

hr {
    max-width: 320px;
    border: 0.0437rem solid rgba(255, 255, 255, 0.1);
    margin: 20.8px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1440px;
    margin: 0 auto;
}

.heading {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
}

[class*='__container'] {
    margin: 1.95rem 1.95rem 0 1.95rem;
}

/* -------------------------------------- */

.aside {
    font-family: 'DM Sans';
}

.main {
    font-family: 'DM Sans';
}

/* -------------------------------------- */

.aside__container {
}
.aside__personal {
}


.personal {
}
.personal__photo {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: none;
}
.personal__photo:not(:last-child) {
    margin-bottom: 1rem;
}
.personal__photo img {
    position: absolute;
    top: 2.8125rem;
    left: 0.0625rem;
    max-width: 100%;
    transform: scale(2.1);
    -webkit-transform: scale(2.1);
    -moz-transform: scale(2.1);
    -ms-transform: scale(2.1);
    -o-transform: scale(2.1);
}
.personal__name {
    font-size: 24px;
    line-height: .4;
    letter-spacing: -0.02em;
    color: #E2E6EE;
}
.personal__name:not(:last-child) {
    margin-bottom: 0.1rem;
}
.personal__position {
    font-size: 20px;
    line-height: 1.729;
    background: linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.personal__position {
    margin-bottom: 1.3rem;
}
.personal__quotation {
}
.personal__quotation:not(:last-child) {
}


.quotation__quote {
    display: inline-block;
    position: relative;
    padding: 0 1.4625rem;
}
.quotation__quote::before {
    content: '\201C';
    position: absolute;
    font-size: 38px;
    top: -0.25rem;
    left: -0.25rem;
    color: grey;
}
.quotation__quote::after {
    content: '\201D';
    position: absolute;
    font-size: 38px;
    top: -0.25rem;
    right: -0.25rem;
    color: grey;
}
.quote__text {
    font-size: 18px;
    line-height: 1.729;
    letter-spacing: 0.02em;
    color: #D9DFE8;
}
.quote__text:not(:last-child) {
    margin-bottom: 0.125rem;
}
.quote__author {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.65rem;
    letter-spacing: 0.01em;
    color: #ACB1C3;
}

/* -------------------------------------- */

.contacts {
}
.contacts__items {
}
.items-contacts {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}
.contacts__items__title {
    font-size: 12.8px; 
    line-height: 0.65rem;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-contact {
    display: flex;
    align-items: center;
    column-gap: 0.65rem;
}
.item-contact:hover .item-contact__icon {
    background-color: #3e3e58;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.email {
}
.item-contact__icon {
    border-radius: 50%;
    background-color: #2E2E48;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.item-contact__icon img {
    padding: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}
.email-icon {
}
.item-contact__body {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}
.item-contact__title {
    font-size: 12.8px; 
    line-height: 0.65rem;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-contact__info {
    font-size: 16px;
    line-height: 0.75rem;
    color: #D9DFE8;
}
.website {
}
.website-icon {
}
.phone {
}
.phone-icon {
}
.address {
}
.address-icon {
}

/* -------------------------------------- */

.social {
}
.social__items {
}
.items-social {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}
.item-social {
    display: flex;
    align-items: center;
    column-gap: 0.65rem;
}
.social__items__title {
    font-size: 12.8px; 
    line-height: 0.65rem;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-social__icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.github-icon {
    background-color: #ffffff;
}
.github-icon img {
    padding: .3rem;
    width: 3.5rem;
    height: 3.5rem;
}
.item-social__body {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}
.item-social__title {
    font-size: 12.8px; 
    line-height: 0.65rem;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-social__info {
    font-size: 16px;
    line-height: 0.75rem;
    color: #D9DFE8;
}
.linkedin {
}
.linkedin-icon {
    background-color: #0077B5;
}
.linkedin-icon img {
    padding: .6rem;
    width: 3.5rem;
    height: 3.5rem;
}

.djinni-icon {
    background-color: #0D5BCB;
}
.djinni-icon  img {
    padding: .6rem;
    width: 3.5rem;
    height: 3.5rem;
}

/* -------------------------------------- */

.languages {
}
.languages__items {
}
.items-languages {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}
.languages__items__title {
    font-size: 12.8px; 
    line-height: 0.65rem;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-language {
    display: flex;
    align-items: center;
    column-gap: 0.65rem;
}
.github {
}
.item-languages__icon {
    width: 2.5rem;
    height: 2.5rem;
}
.ukrainian-icon {
}
.ukrainian-icon img {
    max-width: 3rem;
}
.item-languages__body {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}
.item-languages__title {
    font-size: 12.8px; 
    line-height: 0.65rem;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-languages__info {
    font-size: 16px;
    line-height: 0.75rem;
    color: #D9DFE8;
}
.usa-icon {
}
.usa-icon img {
    max-width: 3.5rem;
}

/* -------------------------------------- */

.main__about {
    position: relative;
}

.main__about p {
    width: 80%;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.03em;
    color: #E2E6EE;
}

/* -------------------------------------- */

.main__experience {
    position: relative;
}
.experience-main__body {
    margin-left: 1.625rem;
}
.main__horizontal::after {
    content: '';
    position: absolute;
    background-color: #2E2E48;
    width: 1px;
    height: 100%;
    top: 20px;
    left: -9px;
}
.main__horizontal::before {
    content: '';
    position: absolute;
    background-color: #C696FC;
    box-shadow: 0px 0px 0px 10px #2E2E48;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 10px;
    left: -14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.experience-main {
}

.experience-main__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.experience-main__title {
    font-size: 20.8px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #E2E6EE;
}
.experience-main__title:not(:last-child) {
    margin-bottom: 1.3rem;
}
.current {
    background-color: hsla(268, 94%, 79%, 0.1);
    border-radius: 10px;
}
.experience-main__items {
    margin-left: 3rem;
}
.main__item {
    display: flex;
    column-gap: 0.75rem;
    position: relative;
    padding-left: 17.8752px;
}
.main__item {
    padding: 20px;
}
.main__item:hover {
    background-color: #312163;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.main__item::before {
    content: '';
    position: absolute;
    background-color: #ACB1C3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 16px;
    left: -35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main__item::after {
    content: '';
    position: absolute;
    background-color: #2E2E48;
    width: 1px;
    height: calc(100% - 30px);
    top: 40px;
    left: -30.5px;
}
.main__item:last-child:after {
    height: calc(100% - 50px);
}
.item-main {
}
.item-main__company {
    flex: 0 1 40%;
}
.company-main {
}
.company-main__story {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-size: 12.8px;
    line-height: 0.6rem;
    letter-spacing: 0.02em;
    color: #ACB1C3;
    margin-bottom: 15px;
}
.story__period {
    position: relative;
}
.story__period span {
    color:#EFE2F9;
    background-color: #5531A7;
    padding: 3px 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.story__location {
    position: relative;
    text-transform: uppercase;
}
.story__location::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -14px;
    width: 30px;
    height: 30px;
    background: url('../img/main/experience/geo_icon.svg') 0 0 / 12px 12px no-repeat;
}
.company-main__role {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.role__icon {
    background-color: #6A28D4;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.role__icon img {
    padding: 10px 10px;
    width: 75px;
    height: 75px;
}
.main__item:hover .role__icon img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
}
.role__body {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.role__position {
    font-size: 12.8px;
    line-height: 0.8rem;
    letter-spacing: 0.02em;
    color: #ACB1C3;
}
.role__company {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #E2E6EE;
}
.item-main__description {
    flex: 0 1 60%;
    font-size: 12.8px;
    line-height: 1rem;
    letter-spacing: 0.02em;
    color: #ACB1C3;
}

/* -------------------------------------- */

.main__projects {
    position: relative;
}
.projects-main {
}
.projects-main__body {
    margin-left: 1.625rem;
}
.main__horizontal {
}
.experience-main__title {
}
.heading {
}
.projects-main__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}
.projects-main__item:nth-child(even) {
    border-radius: 0 0.75rem 0.75rem 0;
    -webkit-border-radius: 0 0.75rem 0.75rem 0;
    -moz-border-radius: 0 0.75rem 0.75rem 0;
    -ms-border-radius: 0 0.75rem 0.75rem 0;
    -o-border-radius: 0 0.75rem 0.75rem 0;
}
.projects-main__item {
    background-color: #2E2E48;
    padding: 1.5rem;
    border-radius: 0.75rem;
    border-radius: 0.75rem 0 0 0.75rem;
    -webkit-border-radius: 0.75rem 0 0 0.75rem;
    -moz-border-radius: 0.75rem 0 0 0.75rem;
    -ms-border-radius: 0.75rem 0 0 0.75rem;
    -o-border-radius: 0.75rem 0 0 0.75rem;
}
.item-project {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.item-project__image {
    max-width: 100%;
    overflow: hidden;
}
.item-project__image img {
    object-fit: cover;
    width: 192px;
    height: 144px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.item-project__description {
}
.item-project__description-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #E2E6EE;
}
item-project__description-title:not(:last-child) {
    margin-bottom: 0.375rem;
}
.item-project__description-text {
    font-size: 1.125rem;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #ACB1C3;
}
.item-project__address {
    display: flex;
    align-items: center;
}
.item-project__address-icon {
    background-color: #2A337E;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.item-project__address-icon img {
    width: 38px;
    height: 38px;
    padding: 8px;
}
.item-project__address-link {
}

/* -------------------------------------- */

.main__education {
}
.education-main {
}
.education-main__body {
    padding-left: 1.625rem;
    position: relative;
}
.main__horizontal {
}
.experience-main__title {
}
.heading {
}
.education-main__items {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}
.education-main__item {
    background-color: #2E2E48;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.education-main__item:first-child {
    border-radius: 0.75rem 0 0 0.75rem;
    -webkit-border-radius: 0.75rem 0 0 0.75rem;
    -moz-border-radius: 0.75rem 0 0 0.75rem;
    -ms-border-radius: 0.75rem 0 0 0.75rem;
    -o-border-radius: 0.75rem 0 0 0.75rem;
}
.education-main__item:last-child {
    border-radius: 0 0.75rem 0.75rem 0;
    -webkit-border-radius: 0 0.75rem 0.75rem 0;
    -moz-border-radius: 0 0.75rem 0.75rem 0;
    -ms-border-radius: 0 0.75rem 0.75rem 0;
    -o-border-radius: 0 0.75rem 0.75rem 0;
}
.item-education {
}
.item-education__place {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.place__image {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.place__image img {
    padding: .8em;
    width: 6em;
    height: 6em;
}
.place__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #E2E6EE;
}
.item-education__about {
}
.about__profession {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #E2E6EE;
}
.about__story {
    display: flex;
    column-gap: 10px;
}
.about__period {
}
.about__location {
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 100%;
    }
    .aside__container {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 20px;
    }
    .aside__personal {
        justify-self: center;
        grid-column: 1 / span 2;
    }
    .contacts {
        grid-column: 1 / span 2;
    }
    .contacts__items {
        flex-direction: row;
    }
    hr {
        display: none;
    }
}

@media (max-width: 1024px) {
    .contacts__items {
        justify-content: center;
        flex-wrap: wrap;
    }
}